<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="starter :: head"></head>

<body class="hold-transition skin-blue sidebar-mini">
<div class="wrapper">

    <!-- Main Header -->
    <header th:replace="starter :: header"></header>

    <!-- Left side column. contains the logo and sidebar -->
    <aside th:replace="starter :: main-sidebar"></aside>

    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <h1>
                Upload Exam Results
            </h1>
            <ol class="breadcrumb">
                <li><a href="school.html" th:href="@{/school}"><i class="fa fa-institution"></i> <span
                        th:text="${currentUser.user.school.name}">Main Account Page</span></a></li>
                <li class="active">add exam results</li>
            </ol>
        </section>

        <!-- Main content -->
        <section class="content">

            <div th:if="${success}  != null" class="alert alert-success alert-dismissable">
                <p><span th:text="${success}">Success</span></p>
            </div>

            <div th:if="${bindinguploaderrors}  != null" class="alert alert-danger alert-dismissable">
                <p><span th:text="${bindinguploaderrors}">File upload error</span></p>
            </div>

            <div class="row">
                <div class="col-lg-8">
                    <div class="box box-default">
                        <div class="box-header with-border">
                            <h3 class="box-title"><span th:text="${exam.examName}">Exam Name</span></h3>
                        </div>
                        <div class="box-body">
                            <p>Upload the excel sheet with the Results</p>

                            <form action="#" th:action="@{/uploadresults}" enctype="multipart/form-data"
                                  method="post">
                                <input type="hidden" name="schoolid" value="1234565161" th:name="'schoolid'" th:value="${currentUser.user.schoolid}"/>
                                <input type="hidden" name="examid" value="1234565161" th:name="'examid'" th:value="${exam.examid}"/>
                                <div class="form-group">
                                    <label for="InputResultsFile">Results Excel file</label>
                                    <input id="InputResultsFile" type="file" name="file" th:name="file"/>

                                    <p class="help-block">Click on upload to submit the results file.</p>
                                    <div class="row">
                                        <div class="col-xs-2">
                                            <button type="submit" class="btn btn-primary btn-block btn-flat pull-left">Upload File</button>
                                        </div>
                                    </div>

                                </div>
                            </form>
                            <div th:if="${orderedHeader} != null and ${unknownCells} == null">
                                <hr/><h4>Result columns</h4> <hr/>
                                <p><strong>Please confirm that following are the columns in the results excel file:</strong></p>
                                <ul class="list-group" th:each="col : ${orderedHeader}">
                                    <li  class="list-group-item list-group-item-info" th:text="${col.value}">Result column</li>
                                </ul>
                                <hr/>
                                <p><strong>If the columns are okay please click on the confirm button below:</strong></p>
                                <form th:action="@{/confirmupload}" method="post">
                                    <input type="hidden" name="schoolid" value="1234565161" th:name="'schoolid'" th:value="${currentUser.user.schoolid}"/>
                                    <input type="hidden" name="examid" value="1234565161" th:name="'examid'" th:value="${exam.examid}"/>
                                    <input type="hidden" name="sheetID" value="1234565161" th:name="'sheetID'" th:value="${sheetID}"/>
                                    <input type="hidden" name="headerID" value="1234565161" th:name="'headerID'" th:value="${headerID}"/>
                                    <div class="row">
                                        <div class="col-xs-3">
                                            <button type="submit" class="btn btn-primary btn-block btn-flat pull-left">Confirm the upload</button>
                                        </div>
                                    </div>
                                </form>
                                <hr/>
                                <p><strong><a th:href="@{/results}">If the columns are Not Okay please confirm your excel file and upload again.</a></strong></p>
                            </div>

                            <div th:if="${unknownCells} != null">
                                <hr/><h4>Result columns</h4> <hr/>
                                <p><strong>We were not able to map the following columns from the excel file:</strong></p>

                                <ul class="list-group" th:each="col : ${unknownCells}">
                                    <li class="list-group-item list-group-item-danger" th:text="${col.value}  ">unknown column</li>
                                </ul>
                                <hr/>
                                <p><strong><a th:href="@{/results}">Please confirm the columns from the excel file and upload again.</a></strong></p>
                                <p>Download the sample excel files here to use as your reference.</p>
                            </div>

                        </div>
                        <div class="box-footer">

                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="box box-default">
                        <div class="box-header with-border">
                            <h3 class="box-title">Message Box</h3>
                        </div>
                        <div class="box-body">
                            <p>"How to" infomation goes
                                here......................................................................................................................................</p>
                        </div>
                        <div class="box-footer">

                        </div>
                    </div>
                </div>
            </div>


        </section><!-- /.content -->


    </div>
    <!-- /.content-wrapper -->

    <!-- Main Footer -->
    <footer th:replace="starter :: main-footer"></footer>

    <!-- Control Sidebar -->
    <aside th:replace="starter :: control-sidebar"></aside>

    <!-- Add the sidebar's background. This div must be placed
    immediately after the control sidebar -->
    <div class="control-sidebar-bg"></div>
</div>
<!-- ./wrapper -->


<!-- REQUIRED JS SCRIPTS -->

<!-- jQuery 2.1.4 -->
<script src="../static/dist/jQuery/jQuery-2.1.4.min.js" th:src="@{dist/jQuery/jQuery-2.1.4.min.js}"></script>
<!-- Bootstrap 3.3.5 -->
<script src="../static/bootstrap/js/bootstrap.min.js" th:src="@{bootstrap/js/bootstrap.min.js}"></script>
<!-- AdminLTE App -->
<script src="../static/dist/js/app.min.js" th:src="@{dist/js/app.min.js}"></script>
<!-- Slimscroll -->
<script src="../static/dist/bower_components/jquery-slimscroll/jquery.slimscroll.min.js" th:src="@{dist/bower_components/jquery-slimscroll/jquery.slimscroll.min.js}"></script>
<!-- FastClick -->
<script src="../static/dist/bower_components/fastclick/lib/fastclick.js" th:src="@{dist/bower_components/fastclick/lib/fastclick.js}"></script>
<!-- page script -->

<script th:inline="javascript">
      /*<![CDATA[*/
      $(function () {
        $('.sidebar-menu li').click(function() {
           $(this).siblings('li').removeClass('active');
           $(this).addClass('active');
        });
      });

       $('.sidebar-menu').slimScroll({
      color: '#417586',
	  height: '450px'
     });

	$(function() {
	FastClick.attach(document.body);
    });
      /*]]>*/
</script>

</body>
</html>