<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="starter :: head"></head>

<body class="hold-transition skin-blue sidebar-mini">
<div class="wrapper">

    <!-- Main Header -->
    <header th:replace="starter :: header"></header>

    <!-- Left side column. contains the logo and sidebar -->
    <aside th:replace="starter :: main-sidebar"></aside>

    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <h1>
                News and Announcements
            </h1>
            <ol class="breadcrumb">
                <li><a href="school.html" th:href="@{/school}"><i class="fa fa-institution"></i> <span
                        th:text="${currentUser.user.school.name}">School Account Page</span></a></li>
                <li class="active">Announcements</li>
            </ol>
        </section>

        <!-- Main content -->
        <section class="content">

            <div th:if="${success != null}" class="alert alert-success alert-dismissable">
                <p><span th:text="${success}">Success</span></p>
            </div>

            <div th:if="${announcementCount} == 0">
                <div class="box box-default">
                    <div class="box-header with-border">
                    <h3 class="box-title">Welcome to ShuleDial</h3>
                </div>
                    <div class="box-body">
                        <p><strong>The school has no Announcements added yet.</strong></p>
                        <p>To add announcements, click on "Add Announcement" button below. Fill out the creation form.</p>
                        <p>You will be able to view and edit the announcements that have been created for your school after adding them.</p>
                        <p>Be sure to delete obsolete announcement to avoid confusion by the parents and stakeholders.</p>

                    </div>
                    <div class="box-footer clearfix">
                        <button type="button" class="btn btn-sm btn-default btn-flat pull-left" data-toggle="modal"
                                data-target="#announcementadd">Add New Announcement
                        </button>
                    </div>
                </div>
            </div>
            <!--div if no student-->

            <div th:if="${announcementCount} > 0">
                <div class="row">
                    <div class="col-lg-8">
                        <div class="row">
                            <div class="col-lg-5">
                                <div class="small-box bg-aqua">
                                    <div class="inner">
                                        <h3><span th:text="${announcementCount}">150</span></h3>

                                        <p>Announcement(s) in <span
                                                th:text="${currentUser.user.school.name}"> School Name</span>
                                        </p>
                                    </div>
                                    <div class="icon">
                                        <i class="ion ion-email-unread"></i>
                                    </div>
                                    <a class="small-box-footer" href="#" th:href="'#'">
                                        More info
                                        <i class="fa fa-arrow-circle-right"></i>
                                    </a>
                                </div>
                            </div>
                        </div>

                        <div class="box box-default">
                            <div class="box-header with-border">
                                <h3 class="box-title">Announcements</h3>
                            </div>
                        </div>
                        <div class="box-body">
                            <table id="announcementTable" class="table table-striped">
                                <thead>
                                <tr>
                                    <th>Name</th>
                                    <th>Description</th>
                                    <th></th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr th:each="announcement: ${announcements}">
                                    <td th:text="${announcement.announcementName}">Announcement Name</td>
                                    <td th:text="${announcement.description}">Announcement Period</td>
                                    <td>
                                        <a class="btn btn-primary pull-right"><i class="fa fa-edit"></i>Edit</a>

                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="box-footer clearfix">
                            <button type="button" class="btn btn-sm btn-default btn-flat pull-left" data-toggle="modal"
                                    data-target="#announcementadd">Add New Announcement
                            </button>
                        </div>
                    </div>


                    <div class="col-lg-4">
                        <div class="box box-default">
                            <div class="box-header with-border">
                                <h3 class="box-title">Manage Announcements</h3>
                            </div>
                            <div class="box-body">
                                <p>How to Manage Announcements</p>
                                <ul>
                                    <li></li>
                                    <li></li>
                                    <li></li>
                                    <li></li>
                                    <li></li>
                                    <li></li>

                                </ul>
                            </div>
                            <div class="box-footer">

                            </div>
                        </div>
                    </div>
                </div>
            </div>


            <div th:id="${bindingadderrors != null}? announcementcreateerror : announcementadd" class="modal fade" role="dialog">
                <div class="modal-dialog">

                    <!-- Modal content-->
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h4 class="modal-title">Add New Announcement</h4>
                        </div>
                        <div class="modal-body">
                            <div th:object="${announcementForm}" th:remove="tag">
                                <div th:if="${#fields.hasErrors('*')}">
                                    <div class="callout callout-danger">
                                        <p align="center"><i class="fa fa-times-circle-o"></i>please confirm
                                            input.
                                        </p>

                                        <div th:if="${#fields.hasGlobalErrors()}" class="center info-warning">
                                            <p th:each="err : ${#fields.globalErrors()}" th:text="${err}">
                                                announcement add errors</p>
                                        </div>
                                    </div>
                                </div>
                                <form action="#" th:action="@{/addannouncement}" method="post">
                                    <div class="form-group has-feedback">
                                        <label th:if="${#fields.hasErrors('sendAsSMS')}"
                                               th:errors="*{sendAsSMS}" class="control-label has-warning">input
                                            has error</label>
                                        <input type="checkbox" th:field="*{sendAsSMS}"
                                               th:errorclass="has-warning" />
                                        <label>Send as SMS</label>
                                    </div>
                                    <div class="form-group has-feedback">
                                        <label th:if="${#fields.hasErrors('announcementName')}"
                                               th:errors="*{announcementName}" class="control-label has-warning">input has
                                            error</label>
                                        <input type="text" class="form-control" th:field="*{announcementName}"
                                               th:errorclass="has-warning" placeholder="Announcement Name"/>
                                        <span class="glyphicon glyphicon-home form-control-feedback"></span>
                                    </div>
                                    <div class="form-group has-feedback">
                                        <label th:if="${#fields.hasErrors('description')}" th:errors="*{description}"
                                               class="control-label has-warning">input has error</label>
                                        <input type="text" class="form-control" th:field="*{description}"
                                               th:errorclass="has-warning" placeholder="Description"/>
                                        <span class="glyphicon glyphicon-search form-control-feedback"></span>
                                    </div>
                                    <div class="form-group has-feedback">
                                        <label>Select Student Group(s) or leave blank for all students</label>
                                        <label th:if="${#fields.hasErrors('recipients')}"
                                               th:errors="*{recipients}" class="control-label has-warning">input
                                            has error</label>
                                        <select class="form-control select2" multiple="multiple" th:field="*{recipients}"
                                                th:errorclass="inputWarning" data-placeholder="Select a Group" style="width: 100%;">
                                            <option th:each="studentGroup : ${studentGroups}"
                                                    th:value="${studentGroup.getStudentgroupid()}"
                                                    th:text="${studentGroup.getName()}"></option>
                                        </select>
                                    </div>
                                    <input type="hidden" name="schoolid" value="1234565161" th:name="'schoolid'"
                                           th:value="${currentUser.user.schoolid}"/>

                                    <button type="submit" class="btn btn-primary btn-block btn-flat">Add Announcement</button>
                                </form>

                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>

        </section>
        <!-- /.content -->
    </div>
    <!-- /.content-wrapper -->

    <!-- Main Footer -->
    <footer th:replace="starter :: main-footer"></footer>

    <!-- Control Sidebar -->
    <aside th:replace="starter :: control-sidebar"></aside>

    <!-- Add the sidebar's background. This div must be placed
  immediately after the control sidebar -->
    <div class="control-sidebar-bg"></div>
</div>
<!-- ./wrapper -->


<!-- REQUIRED JS SCRIPTS -->

<!-- jQuery 2.1.4 -->
<script src="../static/dist/jQuery/jQuery-2.1.4.min.js" th:src="@{dist/jQuery/jQuery-2.1.4.min.js}"></script>
<!-- Bootstrap 3.3.5 -->
<script src="../static/bootstrap/js/bootstrap.min.js" th:src="@{bootstrap/js/bootstrap.min.js}"></script>
<!-- AdminLTE App -->
<script src="../static/dist/js/app.min.js" th:src="@{dist/js/app.min.js}"></script>
<!-- DataTables -->
<script src="../static/dist/datatables/jquery.dataTables.min.js" th:src="@{dist/datatables/jquery.dataTables.min.js}"></script>
<script src="../static/dist/datatables/dataTables.bootstrap.min.js" th:src="@{datatables/dataTables.bootstrap.min.js}"></script>
<!-- Select2 -->
<script src="../static/dist/select2/select2.full.min.js" th:src="@{dist/select2/select2.full.min.js}"></script>

<!-- Slimscroll -->
<script src="../static/dist/bower_components/jquery-slimscroll/jquery.slimscroll.min.js" th:src="@{dist/bower_components/jquery-slimscroll/jquery.slimscroll.min.js}"></script>
<!-- FastClick -->
<script src="../static/dist/bower_components/fastclick/lib/fastclick.js" th:src="@{dist/bower_components/fastclick/lib/fastclick.js}"></script>
<!-- page script -->

<script th:inline="javascript">
      /*<![CDATA[*/
       $(document).ready(function () {
        $('.sidebar-menu li').click(function() {
           $(this).siblings('li').removeClass('active');
           $(this).addClass('active');
        });

        //Initialize Select2 Elements
        $(".select2").select2();

      });

       $('.sidebar-menu').slimScroll({
      color: '#417586',
	  height: '450px'
     });

	$(function() {
	FastClick.attach(document.body);
    });
      /*]]>*/

</script>
<script th:inline="javascript">
/*<![CDATA[*/
       $(window).load(function(){
        $('#announcementcreateerror').modal('show');
        });
/*]]>*/
</script>
<script th:inline="javascript">
/*<![CDATA[*/
        $(function () {
        $('#announcementTable').DataTable({
          "paging": true,
          "lengthChange": false,
          "searching": true,
          "ordering": false,
          "info": true,
          "autoWidth": true
        });
      });
/*]]>*/

</script>

</body>
</html>