<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="starter :: head"></head>

<body class="hold-transition skin-blue sidebar-mini">
<div class="wrapper">

    <!-- Main Header -->
    <header th:replace="starter :: header"></header>

    <!-- Left side column. contains the logo and sidebar -->
    <aside th:replace="starter :: main-sidebar"></aside>

    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <h1>
                Add New Students
            </h1>
            <ol class="breadcrumb">
                <li><a th:href="@{/school}"><span>Dashboard</span></a></li>
                <li><a th:href="@{/students}"><span>Students</span></a> </li>
                <li class="active">Add new Students</li>
            </ol>
        </section>
        <br/>

        <!-- Main content -->
        <section class="content">

            <div class="pull-right" style="padding-right: 15px; padding-top: 5px;">
                <a th:href="@{/students}" class="btn btn-default btn-flat"><i class="fa fa-list"></i> &nbsp; Manage Students</a>
            </div>

            <div class="panel">
                <div class="panel-heading" style="padding-bottom: 0px">
                    <h4>&nbsp;&nbsp;&nbsp;&nbsp;<i class="fa fa-users"></i>&nbsp;&nbsp;Add New Students</h4>
                </div>
                <!-- Custom tabs -->
                <div class="panel-body" style="padding-top: 0px">
                    <div class="nav-tabs-custom" style="padding-top: 0px">
                        <!-- Tabs within a box -->

                        <ul class="nav nav-tabs pull-right">
                            <li th:class="${activeClass  == 'upload'}? 'active'"><a href="#upload-students" data-toggle="tab"><i class="fa fa-upload"></i><b>&nbsp;Upload
                                Students</b></a></li>
                            <li th:class="${activeClass == 'single'} ? 'active'"><a href="#single-student" data-toggle="tab"><i class="fa fa-plus"></i><b>&nbsp;Add
                                Single
                                Student</b></a></li>
                        </ul>
                        <div class="tab-content">
                            <!--upload students-->
                            <div class="tab-pane" th:classappend="${activeClass == 'upload'} ? 'active'" id="upload-students" style="position: relative; ">
                                <div th:object="${studentForm}" th:remove="tag">
                                    <div th:if="${#fields.hasErrors('*')}">
                                        <div class="callout callout-danger">
                                            <p align="center"><i class="fa fa-times-circle-o"></i>please confirm
                                                input.
                                            </p>

                                            <div th:if="${#fields.hasGlobalErrors()}" class="center info-warning">
                                                <p th:each="err : ${#fields.globalErrors()}" th:text="${err}">
                                                    Errors while Uploading students</p>
                                            </div>
                                        </div>
                                        <br/><br/>
                                    </div>

                                    <br/>
                                    <p>Upload multiple students from an Excel file. Ensure that the Excel file
                                        follows the below structure.</p>
                                    <div class="row">
                                        <div class="col-md-5">
                                            <table class="table table-bordered">
                                                <thead>
                                                <tr>
                                                    <th>admission_no <span style="color: red; font-size: 10px;">*required</span>
                                                    </th>
                                                    <th>student name <span style="color: red; font-size: 10px;">*required</span>
                                                    </th>
                                                </tr>
                                                </thead>
                                            </table>
                                        </div>
                                        <div class="col-md-3">
                                            <a th:href="@{sampledownload/students_template.xls}"
                                               class="btn btn-default"><i
                                                    class="fa fa-cloud-download"></i>&nbsp;Download Sample</a>
                                        </div>
                                    </div>

                                    <hr class="alt"/>

                                    <p>Click browse to get the file then upload.</p>

                                    <form action="#" class="form-horizontal" th:action="@{/uploadstudents}"
                                          enctype="multipart/form-data"
                                          method="post">
                                        <input type="hidden" name="schoolid" value="1234565161" th:name="'schoolid'"
                                               th:value="${currentUser.user.schoolid}"/>

                                        <div class="row">
                                            <div class="form-group has-feedback">
                                                <label for="InputStudentFile" class="col-md-2 control-label">Select
                                                    file</label>
                                                <div class="col-md-5">
                                                    <input id="InputStudentFile" class="filestyle"
                                                           data-buttontext="Browse file" data-buttonname="btn-default"
                                                           type="file" name="file" th:name="file"
                                                           style="position: absolute; clip: rect(0px, 0px, 0px, 0px);"/>

                                                </div>
                                            </div>
                                        </div>

                                        <br/><br/>

                                        <div class="row">
                                            <div class="form-group has-feedback">
                                                <label for="groupselect" class="col-md-2 control-label">Select
                                                    Classes|Groups</label>
                                                <div class="col-md-5">
                                                    <select id="groupselect" class="form-control select2"
                                                            multiple="multiple" th:field="*{studentgroupid}"
                                                            th:errorclass="inputWarning"
                                                            data-placeholder="Select classes|groups (optional)">

                                                        <option th:each="studentGroup : ${studentGroups}"
                                                                th:value="${studentGroup.getStudentgroupid()}"
                                                                th:text="${studentGroup.getName()}"></option>
                                                    </select>
                                                    <span class="help-block">Select to add the students to a specific class or communication
                                                    group.</span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="form-group has-feedback">
                                                <label class="col-md-2 control-label"></label>
                                                <label class="col-md-1 control-label">- OR -</label>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="form-group has-feedback">
                                                <label th:if="${#fields.hasErrors('studentGroupName')}"
                                                       th:errors="*{admission}"
                                                       class="control-label has-warning">input has error</label>
                                                <label for="group-name" class="col-md-2 control-label"> Create new
                                                    Group</label>
                                                <div class="col-md-3">
                                                    <input type="text" id="group-name" class="form-control"
                                                           data-toggle="tooltip"
                                                           title="Enter name of new class or student group if it doesn't exit."
                                                           th:field="*{studentGroupName}"
                                                           th:errorclass="has-warning"
                                                           placeholder="Enter Name of the New Class or Group"/>
                                                </div>
                                            </div>
                                        </div>

                                        <br/>
                                        <br/>
                                        <div class="row">
                                            <div class="col-md-4">
                                                <button type="submit" class="btn btn-primary btn-block btn-flat">
                                                    <i class="fa fa-long-arrow-right"></i>
                                                    &nbsp; Upload File
                                                </button>
                                            </div>
                                        </div>

                                    </form>
                                </div>
                            </div>
                            <!--add single student-->
                            <div class="tab-pane" th:classappend="${activeClass == 'single'} ? 'active'" id="single-student" style="position: relative; ">
                                <br/><br/>
                                <div th:object="${studentForm}" th:remove="tag">
                                    <div th:if="${#fields.hasErrors('*')}">
                                        <div class="callout callout-danger">
                                            <p align="center"><i class="fa fa-times-circle-o"></i>please confirm
                                                input.
                                            </p>

                                            <div th:if="${#fields.hasGlobalErrors()}" class="center info-warning">
                                                <p th:each="err : ${#fields.globalErrors()}" th:text="${err}">
                                                    Student add errors</p>
                                            </div>
                                        </div>
                                        <br/><br/>
                                    </div>
                                    <form class="form-horizontal" action="#" th:action="@{/students}" method="post">
                                        <div class="row">
                                            <div class="form-group has-feedback">
                                                <label for="studentname-input" class="col-md-2 control-label">Full
                                                    Name</label>
                                                <label th:if="${#fields.hasErrors('studentName')}"
                                                       th:errors="*{studentName}" class="control-label has-warning">input
                                                    has error</label>
                                                <div class="col-md-5">
                                                    <input id="studentname-input" type="text" class="form-control"
                                                           th:field="*{studentName}"
                                                           th:errorclass="has-warning" placeholder="Student's Name"/>
                                                </div>
                                            </div>
                                        </div>
                                        <br/>
                                        <div class="row">
                                            <div class="form-group has-feedback">
                                                <label for="studentadm-input" class="col-md-2 control-label">Admission
                                                    No.</label>
                                                <label th:if="${#fields.hasErrors('admission')}"
                                                       th:errors="*{admission}"
                                                       class="control-label has-warning">input has error</label>
                                                <div class="col-md-5">
                                                    <input id="studentadm-input" type="text" class="form-control"
                                                           th:field="*{admission}"
                                                           th:errorclass="has-warning" placeholder="Admission Number"/>
                                                </div>
                                            </div>
                                        </div>

                                        <hr class="alt"/>

                                        <div class="row">
                                            <div class="form-group has-feedback">
                                                <label for="groupselect2" class="col-md-2 control-label">Classes|Groups</label>
                                                <div class="col-md-5">
                                                    <select id="groupselect2" class="form-control select2"
                                                            multiple="multiple" th:field="*{studentgroupid}"
                                                            th:errorclass="inputWarning"
                                                            data-placeholder="Select classes|groups (optional)" data-width="100%">

                                                        <option th:each="studentGroup : ${studentGroups}"
                                                                th:value="${studentGroup.getStudentgroupid()}"
                                                                th:text="${studentGroup.getName()}"></option>
                                                    </select>
                                                    <span class="help-block">Select to add the students to a specific class or communication
                                                    group.</span>
                                                </div>
                                                <div class="col-md-3">
                                                    <span class="help-block"><a href="#"
                                                                                th:href="@{/newstudentgroup}">New Class|Group</a></span>
                                                </div>
                                            </div>
                                        </div>

                                        <input type="hidden" name="schoolid" value="1234565161" th:name="'schoolid'"
                                               th:value="${currentUser.user.schoolid}"/>

                                        <br/><br/>

                                        <div class="row">
                                            <div class="col-md-4">
                                                <button type="submit" class="btn btn-primary btn-block btn-flat">
                                                    <i class="fa fa-floppy-o"></i>
                                                    &nbsp; Save Student
                                                </button>
                                            </div>
                                        </div>
                                    </form>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /.nav-tabs-custom -->

        </section>
        <!-- /.content -->
    </div>
    <!-- /.content-wrapper -->

    <!-- Main Footer -->
    <footer th:replace="starter :: main-footer"></footer>

    <!-- Control Sidebar -->
    <aside th:replace="starter :: control-sidebar"></aside>

    <!-- Add the sidebar's background. This div must be placed
  immediately after the control sidebar -->
    <div class="control-sidebar-bg"></div>
</div>
<!-- ./wrapper -->


<!-- REQUIRED JS SCRIPTS -->

<!-- jQuery 2.1.4 -->
<script src="../static/dist/jQuery/jQuery-2.1.4.min.js" th:src="@{dist/jQuery/jQuery-2.1.4.min.js}"></script>
<!-- Bootstrap 3.3.5 -->
<script src="../static/bootstrap/js/bootstrap.min.js" th:src="@{bootstrap/js/bootstrap.min.js}"></script>
<!-- AdminLTE App -->
<script src="../static/dist/js/app.min.js" th:src="@{dist/js/app.min.js}"></script>
<!-- Slimscroll -->
<script src="../static/dist/bower_components/jquery-slimscroll/jquery.slimscroll.min.js"
        th:src="@{dist/bower_components/jquery-slimscroll/jquery.slimscroll.min.js}"></script>
<!-- FastClick -->
<script src="../static/dist/bower_components/fastclick/lib/fastclick.js"
        th:src="@{dist/bower_components/fastclick/lib/fastclick.js}"></script>
<!-- Select2 -->
<script src="../static/dist/select2/select2.full.min.js" th:src="@{dist/select2/select2.full.min.js}"></script>
<!-- DataTables -->
<script src="../static/dist/datatables/jquery.dataTables.min.js"
        th:src="@{dist/datatables/jquery.dataTables.min.js}"></script>
<script src="../static/dist/datatables/dataTables.bootstrap.min.js"
        th:src="@{datatables/dataTables.bootstrap.min.js}"></script>
<!-- iCheck -->
<script src="../static/dist/iCheck/icheck.min.js"
        th:src="@{dist/iCheck/icheck.min.js}"></script>
<!-- bootstrap filestyle -->
<script type="text/javascript" src="../static/dist/bootstrap-filestyle/bootstrap-filestyle.min.js"
        th:src="@{dist/bootstrap-filestyle/bootstrap-filestyle.min.js}"></script>

<!-- page script -->

<script th:inline="javascript">
    /*<![CDATA[*/

    //Initialize Select2 Elements
    $(document).ready(function () {
        $(".select2").select2();
    });

    /*]]>*/

</script>

</body>
</html>