<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="starter :: head"></head>

<body class="hold-transition skin-blue sidebar-mini">
<div class="wrapper">

    <!-- Main Header -->
    <header th:replace="starter :: header"></header>

    <!-- Left side column. contains the logo and sidebar -->
    <aside th:replace="starter :: main-sidebar"></aside>

    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <h1>
                Parent Contacts
            </h1>
            <ol class="breadcrumb">
                <li><a href="school.html" th:href="@{/school}"><i class="fa fa-institution"></i> <span
                        th:text="${currentUser.user.school.name}">School Account Page</span></a></li>
                <li class="active">Parent Contacts</li>
            </ol>
        </section>

        <!-- Main content -->
        <section class="content">

            <div th:if="${success != null}" class="alert alert-success alert-dismissable">
                <p><span th:text="${success}">Success</span></p>
            </div>

            <div th:if="${parentsCount} == 0">
                <div class="box box-default">
                    <div class="box-header with-border">
                        <h3 class="box-title">Welcome to ShuleDial</h3>
                    </div>
                    <div class="box-body">
                        <p><strong>The school has no parents added yet.</strong></p>
                        <p>The parents contacts module allows the school to provide security with regards to who can access students information.</p>
                        <p>Only the parents whose contacts have been added by the school can access the students information</p>
                        <p>Upload an excel file with the parent contacts or add of a single parent by clicking on the add parent's contact button below.</p>
                    </div>
                    <div class="box-footer clearfix">
                        <button type="button" class="btn btn-sm btn-default btn-flat pull-left" data-toggle="modal"
                                data-target="#parentsadd">Add Parent Contacts
                        </button>
                    </div>
                </div>
            </div>
            <!--div if no student-->

            <div th:if="${parentsCount} > 0">
                <div class="row">
                    <div class="col-lg-8">
                        <div class="row">
                            <div class="col-lg-5">
                                <div class="small-box bg-aqua">
                                    <div class="inner">
                                        <h3><span th:text="${parentsCount}">150</span></h3>

                                        <p>Parents(s) registered in <span th:text="${currentUser.user.school.name}"> School Name</span>
                                        </p>
                                    </div>
                                    <div class="icon">
                                        <i class="ion ion-person-add"></i>
                                    </div>
                                    <a class="small-box-footer" href="#" th:href="'#'">
                                        More info
                                        <i class="fa fa-arrow-circle-right"></i>
                                    </a>
                                </div>
                            </div>
                        </div>

                        <div class="box box-default">
                            <div class="box-header with-border">
                                <h3 class="box-title">Search for Parent Contacts belonging to a Student</h3>

                                <div class="row">
                                    <div class="col-lg-5">
                                        <!-- search form (Optional) -->
                                        <form action="#" method="post">
                                            <div class="input-group">
                                                <input type="text" name="admissionNo" class="form-control"
                                                       placeholder="Search by Student's Admission Number"/>
							<span class="input-group-btn">
                                <input type="hidden" name="schoolid" value="1234565161" th:name="'schoolid'"
                                       th:value="${currentUser.user.schoolid}"/>
								<button type="submit" name="search" id="search-btn" class="btn btn-flat"><i
                                        class="fa fa-search"></i></button>
							</span>
                                            </div>
                                        </form>
                                        <!-- /.search form -->
                                    </div>
                                </div>
                            </div>
                            <div class="box-body">
                                <div th:if="${student != null}">
                                    <strong>
                                        <i class="fa fa-user margin-r-5"></i>
                                        Student's Name
                                    </strong>

                                    <p class="text-muted"><span th:text="${student.studentName}">Student Name</span>
                                    </p>
                                    <hr/>
                                    <strong>
                                        <i class="fa fa-bars margin-r-5"></i>
                                        Admission Number
                                    </strong>

                                    <p class="text-muted"><span th:text="${student.admission}">Student Admission</span>
                                    </p>
                                    <hr/>
                                </div>
                                <div th:if="${nostudent != null}">
                                    <strong>
                                        <i class="fa fa-exclamation margin-r-5"></i>
                                        Not Found
                                    </strong>
                                    <p class="text-muted"><span th:text="${nostudent}">Student not found</span>
                                    </p>
                                </div>
                            </div>
                            <div class="box-footer clearfix">
                                <button type="button" class="btn btn-sm btn-default btn-flat pull-left" data-toggle="modal"
                                        data-target="#parentsadd">Add Parent Contacts
                                </button>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4">
                        <div class="box box-default">
                            <div class="box-header with-border">
                                <h3 class="box-title">Manage Parent Contacts</h3>
                            </div>
                            <div class="box-body">
                                <p>How to Manage Parent Contacts</p>
                                <ul>
                                    <li></li>
                                    <li></li>
                                    <li></li>
                                    <li></li>
                                    <li></li>
                                    <li></li>

                                </ul>
                            </div>
                            <div class="box-footer">

                            </div>
                        </div>
                    </div>
                </div>
            </div>


            <div th:id="${bindingadderrors != null}? parentsaddeerror : parentsadd" class="modal fade"
                 role="dialog">
                <div class="modal-dialog">

                    <!-- Modal content-->
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h4 class="modal-title">Add Parent Contacts</h4>
                        </div>
                        <div class="modal-body">

                            <div class="row">
                                <div class="col-xs-6">
                                    <button type="button" class="btn btn-default btn-block btn-flat btnuploadparents">
                                        Upload Parent Contacts
                                    </button>
                                </div>
                                <div class="col-xs-6">
                                    <button type="button" class="btn btn-default btn-block btn-flat btnaddsingleparent">
                                        Add Single Parent Contact
                                    </button>
                                </div>
                                <br/><br/>
                            </div>


                            <div class="addsingleparent">
                                <div th:object="${parentAddForm}" th:remove="tag">
                                    <div th:if="${#fields.hasErrors('*')}">
                                        <div class="callout callout-danger">
                                            <p align="center"><i class="fa fa-times-circle-o"></i>please confirm
                                                input.
                                            </p>

                                            <div th:if="${#fields.hasGlobalErrors()}" class="center info-warning">
                                                <p th:each="err : ${#fields.globalErrors()}" th:text="${err}">
                                                    Parent add errors</p>
                                            </div>
                                        </div>
                                    </div>
                                    <form action="#" th:action="@{/addparent}" method="post">
                                        <div class="form-group has-feedback">
                                            <label>Check if this is students primary contact</label>
                                            <label th:if="${#fields.hasErrors('isPrimary')}"
                                                   th:errors="*{isPrimary}" class="control-label has-warning">input
                                                has error</label>
                                            <br/>
                                            <input type="checkbox" th:field="*{isPrimary}"
                                                   th:errorclass="has-warning" />
                                        </div>
                                        <div class="form-group has-feedback">
                                            <label th:if="${#fields.hasErrors('phoneNumber')}"
                                                   th:errors="*{phoneNumber}" class="control-label has-warning">input
                                                has error</label>
                                            <input type="text" class="form-control" th:field="*{phoneNumber}"
                                                   th:errorclass="has-warning" placeholder="Parent's Phone Number"/>

                                        </div>
                                        <div class="form-group has-feedback">
                                            <label th:if="${#fields.hasErrors('parentName')}"
                                                   th:errors="*{parentName}" class="control-label has-warning">input
                                                has error</label>
                                            <input type="text" class="form-control" th:field="*{parentName}"
                                                   th:errorclass="has-warning" placeholder="Parent's Name (Optional)"/>

                                        </div>
                                        <div class="form-group has-feedback">
                                            <label th:if="${#fields.hasErrors('admission')}"
                                                   th:errors="*{admission}"
                                                   class="control-label has-warning">input has error</label>
                                            <input type="text" class="form-control" th:field="*{admission}"
                                                   th:errorclass="has-warning" placeholder="Student's Admission Number"/>
                                        </div>
                                        <div class="form-group has-feedback">
                                            <label>Enter Student Name if student has not already been added into ShuleDial system</label>
                                            <label th:if="${#fields.hasErrors('studentName')}"
                                                   th:errors="*{studentName}"
                                                   class="control-label has-warning">input has error</label>
                                            <input type="text" class="form-control" th:field="*{studentName}"
                                                   th:errorclass="has-warning" placeholder="Student's Name"/>
                                        </div>
                                        <input type="hidden" name="schoolid" value="1234565161" th:name="'schoolid'"
                                               th:value="${currentUser.user.schoolid}"/>

                                        <button type="submit" class="btn btn-primary btn-block btn-flat">Add Parent Contact
                                        </button>
                                    </form>

                                </div>
                            </div>

                            <div class="uploadparents">
                                <div th:object="${parentAddForm}" th:remove="tag">
                                    <p>Upload the excel sheet with the list of parent contacts.</p>

                                    <p>The excel should contain 5 columns, <b>Admission</b> , <b>Student's Name</b> , <b>Phone Number</b>, <b>Parent's Name</b> and <b>Primary Contact</b> </p>
                                    <p>Leave the parent name column empty if no name(s) is available</p>
                                    <p>On Primary Contact indicate <b>primary</b> if that is the student's primary contact or leave blank otherwise</p>

                                    <form action="#" th:action="@{/uploadparents}" enctype="multipart/form-data"
                                          method="post">
                                        <input type="hidden" name="schoolid" value="1234565161" th:name="'schoolid'"
                                               th:value="${currentUser.user.schoolid}"/>

                                        <div class="form-group">
                                            <label for="InputStudentFile">Parent's Contact Excel file</label>
                                            <input id="InputStudentFile" type="file" name="file" th:name="file"/>


                                            <p class="help-block">Click on upload to submit the parent's contact file.</p>
                                            <input type="submit" value="Upload File"/>

                                        </div>
                                    </form>
                                </div>
                            </div>

                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>

        </section>
        <!-- /.content -->
    </div>
    <!-- /.content-wrapper -->

    <!-- Main Footer -->
    <footer th:replace="starter :: main-footer"></footer>

    <!-- Control Sidebar -->
    <aside th:replace="starter :: control-sidebar"></aside>

    <!-- Add the sidebar's background. This div must be placed
    immediately after the control sidebar -->
    <div class="control-sidebar-bg"></div>
</div>
<!-- ./wrapper -->


<!-- REQUIRED JS SCRIPTS -->

<!-- jQuery 2.1.4 -->
<script src="../static/dist/jQuery/jQuery-2.1.4.min.js" th:src="@{dist/jQuery/jQuery-2.1.4.min.js}"></script>
<!-- Bootstrap 3.3.5 -->
<script src="../static/bootstrap/js/bootstrap.min.js" th:src="@{bootstrap/js/bootstrap.min.js}"></script>
<!-- AdminLTE App -->
<script src="../static/dist/js/app.min.js" th:src="@{dist/js/app.min.js}"></script>

<!-- Slimscroll -->
<script src="../static/dist/bower_components/jquery-slimscroll/jquery.slimscroll.min.js" th:src="@{dist/bower_components/jquery-slimscroll/jquery.slimscroll.min.js}"></script>
<!-- FastClick -->
<script src="../static/dist/bower_components/fastclick/lib/fastclick.js" th:src="@{dist/bower_components/fastclick/lib/fastclick.js}"></script>
<!-- page script -->

<script th:inline="javascript">
      /*<![CDATA[*/
      $(function () {
        $('.sidebar-menu li').click(function() {
           $(this).siblings('li').removeClass('active');
           $(this).addClass('active');
        });

         $('.sidebar-menu').slimScroll({
      color: '#417586',
	  height: '450px'
     });

	$(function() {
	FastClick.attach(document.body);
    });

        $(".uploadparents").hide();
        $(".addsingleparent").hide();

        $('.btnuploadparents').click(function(){
        $(".uploadparents").show();
        $(".addsingleparent").hide();
        });

        $('.btnaddsingleparent').click(function(){
        $(".uploadparents").hide();
        $(".addsingleparent").show();
        });

      });
      /*]]>*/
</script>

<script th:inline="javascript">
/*<![CDATA[*/
       $(window).load(function(){
        $('#parentsadderror').modal('show');
        });
/*]]>*/
</script>

</body>
</html>