<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="starter :: head"></head>

<body class="hold-transition skin-blue sidebar-mini">
<div class="wrapper">

    <!-- Main Header -->
    <header th:replace="starter :: header"></header>

    <!-- Left side column. contains the logo and sidebar -->
    <aside th:replace="starter :: main-sidebar"></aside>

    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <h1>
                School Fees
            </h1>
            <ol class="breadcrumb">
                <li><a href="school.html" th:href="@{/school}"><i class="fa fa-institution"></i> <span
                        th:text="${currentUser.user.school.name}">School Account Page</span></a></li>
                <li class="active">Fees</li>
            </ol>
        </section>

        <!-- Main content -->
        <section class="content">

            <div th:if="${success != null}" class="alert alert-success alert-dismissable">
                <p><span th:text="${success}">Success</span></p>
            </div>

            <div th:if="{periodCount} == 0">
                <div class="box box-default">
                    <div class="box-header with-border">
                        <h3 class="box-title">Welcome to ShuleDial</h3>
                    </div>
                    <div class="box-body">
                        <p><strong>The school has no Academic Periods added yet.</strong></p>

                        <p>School Fees is classified into academic periods</p>

                        <p>Please go to settings section and chargeable academic period</p>
                    </div>
                </div>
            </div>
            <!--div if no periods-->

            <div th:if="${periodCount} > 0">
                <div class="box box-default">
                    <div class="box-header with-border">
                        <h3 class="box-title">School Fees</h3>


                        <div th:if="${levelCount} == 0">
                            <p><strong>The school has no Class Levels added yet.</strong></p>

                            <p>The fees set will therefore be perceived to reflect to the whole school equally</p>

                            <p>To assign fees to specific classes please add class levels through the setting
                                sections</p>
                        </div>

                        <div th:if="${levelCount} > 0" class="row">
                            <div class="col-lg-5">
                                <!-- Class level dropdown (Optional) -->
                                <form th:action="@{/selectedlevel}" method="post">
                                    <div class="form-group">
                                        <label>Class Level</label>
                                        <select class="form-control" onchange="return SetSelectedLevel(this.value);">
                                            <option th:each="choice : ${schoolLevels}"
                                                    th:value="${choice.schoollevelid}"
                                                    th:text="${choice.schoolLevelName}">
                                            </option>
                                        </select>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="box-body">
                        <table id="feeTable" class="table table-striped">
                            <thead>
                            <tr>
                                <th>Payment Items</th>
                                <th th:each="schoolPeriod : ${schoolPeriods}"
                                    th:text="${schoolPeriod.schoolPeriodName}}"></th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="item : ${feeItems}" th:id="${item.feeitemid}}">

                                <td th:each="schoolPeriod : ${schoolPeriods}" th:id="${schoolPeriod.schoolperiodid}"
                                    class="feettem">Add Fee
                                </td>
                            </tr>
                            <tr>
                                <td>Total Fees</td>
                                <td th:each="schoolPeriod : ${schoolPeriods}" th:id="${schoolPeriod.schoolperiodid}"
                                    class="totalfee">Add Fee
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="box-footer clearfix">
                        <button type="button" class="btn btn-sm btn-default btn-flat pull-left"
                                data-toggle="modal"
                                data-target="#feeitemadd">Add Fee Breakdown Item
                        </button>
                    </div>
                </div>
            </div>


            <div th:id="${bindingadderrors != null}? feeitemcreateerror : feeitemadd" class="modal fade" role="dialog">
                <div class="modal-dialog">

                    <!-- Modal content-->
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h4 class="modal-title">Add New Fee Breakdown Item</h4>
                        </div>
                        <div class="modal-body">
                            <div th:object="${feeItemForm}" th:remove="tag">
                                <div th:if="${#fields.hasErrors('*')}">
                                    <div class="callout callout-danger">
                                        <p align="center"><i class="fa fa-times-circle-o"></i>please confirm
                                            input.
                                        </p>

                                        <div th:if="${#fields.hasGlobalErrors()}" class="center info-warning">
                                            <p th:each="err : ${#fields.globalErrors()}" th:text="${err}">
                                                fee item add errors</p>
                                        </div>
                                    </div>
                                </div>
                                <form action="#" th:action="@{/addexam}" method="post">
                                    <div class="form-group has-feedback">
                                        <label th:if="${#fields.hasErrors('examName')}"
                                               th:errors="*{examName}" class="control-label has-warning">input has
                                            error</label>
                                        <label>Exam Name</label>
                                        <input type="text" class="form-control" th:field="*{examName}"
                                               th:errorclass="has-warning" placeholder="Exam Name"/>
                                        <span class="glyphicon glyphicon-home form-control-feedback"></span>
                                    </div>
                                    <div class="form-group has-feedback">
                                        <label>Exam Date</label>
                                        <label th:if="${#fields.hasErrors('examDate')}"
                                               th:errors="*{examDate}" class="control-label has-warning">input has
                                            error</label>

                                        <div class="input-group">
                                            <div class="input-group-addon">
                                                <i class="fa fa-calendar"></i>
                                            </div>
                                            <input id="datemask" class="form-control" type="text"
                                                   th:field="*{examDate}" th:errorclass="has-warning"
                                                   data-inputmask="'alias': 'dd/mm/yyyy'"/>
                                        </div>
                                    </div>
                                    <input type="hidden" name="schoolid" value="1234565161" th:name="'schoolid'"
                                           th:value="${currentUser.user.schoolid}"/>

                                    <button type="submit" class="btn btn-primary btn-block btn-flat">Add Exam</button>
                                </form>

                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>

        </section>
        <!-- /.content -->
    </div>
    <!-- /.content-wrapper -->

    <!-- Main Footer -->
    <footer th:replace="starter :: main-footer"></footer>

    <!-- Control Sidebar -->
    <aside th:replace="starter :: control-sidebar"></aside>

    <!-- Add the sidebar's background. This div must be placed
  immediately after the control sidebar -->
    <div class="control-sidebar-bg"></div>
</div>
<!-- ./wrapper -->


<!-- REQUIRED JS SCRIPTS -->

<!-- jQuery 2.1.4 -->
<script src="../static/dist/jQuery/jQuery-2.1.4.min.js" th:src="@{dist/jQuery/jQuery-2.1.4.min.js}"></script>
<!-- Bootstrap 3.3.5 -->
<script src="../static/bootstrap/js/bootstrap.min.js" th:src="@{bootstrap/js/bootstrap.min.js}"></script>
<!-- AdminLTE App -->
<script src="../static/dist/js/app.min.js" th:src="@{dist/js/app.min.js}"></script>
<!-- InputMask -->
<script src="../static/dist/input-mask/jquery.inputmask.js" th:src="@{dist/input-mask/jquery.inputmask.js}"></script>
<script src="../static/dist/input-mask/jquery.inputmask.date.extensions.js"
        th:src="@{dist/input-mask/jquery.inputmask.date.extensions.js}"></script>
<script src="../static/dist/input-mask/jquery.inputmask.extensions.js"
        th:src="@{dist/input-mask/jquery.inputmask.extensions.js}"></script>
<!-- DataTables -->
<!-- DataTables -->
<script src="../static/dist/datatables/jquery.dataTables.min.js"
        th:src="@{dist/datatables/jquery.dataTables.min.js}"></script>
<script src="../static/dist/datatables/dataTables.bootstrap.min.js"
        th:src="@{datatables/dataTables.bootstrap.min.js}"></script>
<script src="../static/dist/datatables/extensions/editTables.js"
        th:src="@{datatables/extensions/editTables.js}"></script>

<!-- Slimscroll -->
<script src="../static/dist/bower_components/jquery-slimscroll/jquery.slimscroll.min.js" th:src="@{dist/bower_components/jquery-slimscroll/jquery.slimscroll.min.js}"></script>
<!-- FastClick -->
<script src="../static/dist/bower_components/fastclick/lib/fastclick.js" th:src="@{dist/bower_components/fastclick/lib/fastclick.js}"></script>
<!-- page script -->

<script th:inline="javascript">
/*<![CDATA[*/
        $(function () {
        $('#feeTable').DataTable({
          "paging": true,
          "lengthChange": false,
          "searching": true,
          "ordering": false,
          "info": false,
          "autoWidth": true
        });
      });
/*]]>*/


</script>

<script th:inline="javascript">
      /*<![CDATA[*/
      $(function () {
        $('.sidebar-menu li').click(function() {
           $(this).siblings('li').removeClass('active');
           $(this).addClass('active');
        });
      });

       $('.sidebar-menu').slimScroll({
      color: '#417586',
	  height: '450px'
     });

	$(function() {
	FastClick.attach(document.body);
    });
      /*]]>*/


</script>
<script th:inline="javascript">
    /*<![CDATA[*/
    $(function () {
    function SetSelectedLevel(level)
    {
        document.getElementById('selectedlevel').innerHTML = level;
    }
    });


    /*]]>*/

</script>
</body>
</html>