<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="starter :: head"></head>

<body class="hold-transition skin-blue lockscreen">

<header class="main-header" th:fragment="header">
    <!-- Logo -->
    <a href="'#'" th:href="'#'" class="logo">
        <!-- mini logo for sidebar mini 50x50 pixels -->
        <span class="logo-mini"><b>S</b>Dail</span>
        <!-- logo for regular state and mobile devices -->
        <span class="logo-lg"><b>Shule</b>Dial</span>
    </a>

    <nav class="navbar navbar-static-top" role="navigation">
        <div class="navbar-custom-menu">
            <ul class="nav navbar-nav">
            </ul>
        </div>
    </nav>
</header>

<div class="lockscreen-wrapper">
<div class="lockscreen-logo">
    <a href="/school.html" th:href="@{/school}"><b>Shule</b>Dial</a>
</div>
<div class="help-block text-center">
    you have been succesfully Registered to ShuleDial.You will be required to confirm your email before signing in.
    We have sent you the confirmation email.
</div>
<div class="text-center">
    <a href="school.html" th:href="@{/school}">Sign in</a>
</div>
</div><!-- /.center -->

<!-- jQuery 2.1.4 -->
<script src="../static/dist/jQuery/jQuery-2.1.4.min.js" th:src="@{dist/jQuery/jQuery-2.1.4.min.js}"></script>
<!-- Bootstrap 3.3.5 -->
<script src="../static/bootstrap/js/bootstrap.min.js" th:src="@{bootstrap/js/bootstrap.min.js}"></script>
<!-- iCheck -->
<script src="../static/dist/iCheck/icheck.min.js" th:src="@{dist/iCheck/icheck.min.js}"></script>

<!-- Slimscroll -->
<script src="../static/dist/bower_components/jquery-slimscroll/jquery.slimscroll.min.js" th:src="@{dist/bower_components/jquery-slimscroll/jquery.slimscroll.min.js}"></script>
<!-- FastClick -->
<script src="../static/dist/bower_components/fastclick/lib/fastclick.js" th:src="@{dist/bower_components/fastclick/lib/fastclick.js}"></script>
<!-- page script -->
<script th:inline="javascript">
      /*<![CDATA[*/
      $(function () {
        $('input').iCheck({
          checkboxClass: 'icheckbox_square-blue',
          radioClass: 'iradio_square-blue',
          increaseArea: '20%'
        });
      });
      /*]]>*/
    </script>
</body>
</html>
