<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="starter :: head"></head>

<body class="hold-transition skin-blue sidebar-mini">
<div class="wrapper">

    <!-- Main Header -->
    <header th:replace="starter :: header"></header>

    <!-- Left side column. contains the logo and sidebar -->
    <aside th:replace="starter :: main-sidebar"></aside>

    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <h1>
                School Profile
            </h1>
            <ol class="breadcrumb">
                <li><a href="school.html" th:href="@{/school}"><i class="fa fa-institution"></i> <span
                        th:text="${currentUser.user.school.name}">Main Account Page</span></a></li>
                <li class="active">school profile</li>
            </ol>
        </section>

        <!-- Main content -->
        <section class="content">

            <div class="box box-default">
                <div class="box-header with-border">
                    <h3 class="box-title">School Profile</h3>
                </div>
                <div class="box-body">

                    <div class="row">
                        <div class="col-lg-2 col-xs-3">
                            <button type="button" class="btn btn-sm btn-default btn-flat pull-left" data-toggle="modal"
                                    data-target="#phoneadd">Add PhoneNumber
                            </button>
                        </div>
                        <div class="col-lg-2 col-xs-3">
                            <button type="button" class="btn btn-sm btn-default btn-flat pull-left" data-toggle="modal"
                                    data-target="#emailadd">Add Email
                            </button>
                        </div>
                        <div class="col-lg-2 col-xs-3">
                            <button type="button" class="btn btn-sm btn-default btn-flat pull-left" data-toggle="modal"
                                    data-target="#typeadd">Add School Category
                            </button>
                        </div>
                    </div>

                    <form th:object="${schoolBioForm}" action="#" th:action="@{/schoolprofile}" method="post">

                        <div class="form-group has-feedback">
                            <label th:if="${#fields.hasErrors('overview')}"
                                   th:errors="*{overview}" class="control-label has-warning">input has
                                error</label>
                            <label class="control-label">Quick Overview of the School</label>
                            <input type="text" class="form-control" th:field="*{overview}"
                                   th:errorclass="has-warning" th:placeholder="${school.overview}"
                                   placeholder="Quick Overview of the School"/>
                        </div>

                        <div class="form-group has-feedback">
                            <label th:if="${#fields.hasErrors('website')}"
                                   th:errors="*{website}" class="control-label has-warning">input has
                                error</label>
                            <label class="control-label">School Website Address</label>
                            <input type="text" class="form-control" th:field="*{website}"
                                   th:errorclass="has-warning" th:placeholder="${school.website}"
                                   placeholder="School Website Address"/>
                        </div>

                        <div class="form-group has-feedback">
                            <label th:if="${#fields.hasErrors('motto')}"
                                   th:errors="*{motto}" class="control-label has-warning">input has
                                error</label>
                            <label class="control-label">School Motto</label>
                            <input type="text" class="form-control" th:field="*{motto}"
                                   th:errorclass="has-warning" th:placeholder="${school.motto}"
                                   placeholder="School Motto"/>
                        </div>

                        <div class="form-group has-feedback">
                            <label th:if="${#fields.hasErrors('physicalAddress')}"
                                   th:errors="*{physicalAddress}" class="control-label has-warning">input has
                                error</label>
                            <label class="control-label">Physical Address</label>
                            <input type="text" class="form-control" th:field="*{physicalAddress}"
                                   th:errorclass="has-warning" th:placeholder="${school.physicalAddress}"
                                   placeholder="Physical Address"/>
                        </div>

                        <div class="form-group has-feedback">
                            <label th:if="${#fields.hasErrors('postalAddress')}"
                                   th:errors="*{postalAddress}" class="control-label has-warning">input has
                                error</label>
                            <label class="control-label">Postal Address</label>
                            <input type="text" class="form-control" th:field="*{postalAddress}"
                                   th:errorclass="has-warning" th:placeholder="${school.postalAddress}"
                                   placeholder="Postal Address"/>
                        </div>

                        <div class="form-group has-feedback">
                            <label th:if="${#fields.hasErrors('bio')}"
                                   th:errors="*{bio}" class="control-label has-warning">input has
                                error</label>
                            <label class="control-label">School Biography Description</label>
                            <textarea rows="4" class="form-control" th:field="*{bio}"
                                      th:errorclass="has-warning" th:placeholder="${school.bio}"
                                      placeholder="School Biography Description"/>
                        </div>

                        <div class="form-group has-feedback">
                            <label th:if="${#fields.hasErrors('feesPaymentInfo')}"
                                   th:errors="*{feesPaymentInfo}" class="control-label has-warning">input has
                                error</label>
                            <label class="control-label">School Fees Payment Details</label>
                            <textarea rows="4" class="form-control" th:field="*{feesPaymentInfo}"
                                      th:errorclass="has-warning" th:placeholder="${school.feesPaymentInfo}"
                                      placeholder="School Fees Payment Details"/>
                        </div>

                        <div class="form-group has-feedback">
                            <label th:if="${#fields.hasErrors('admissionInfo')}"
                                   th:errors="*{admissionInfo}" class="control-label has-warning">input has
                                error</label>
                            <label class="control-label">Admission and Vacancy Details</label>
                            <input type="text" class="form-control" th:field="*{admissionInfo}"
                                   th:errorclass="has-warning" th:placeholder="${school.admissionInfo}"
                                   placeholder="Admission and Vacancy Details"/>
                        </div>


                        <input type="hidden" name="schoolid" value="1234565161" th:name="'schoolid'"
                               th:value="${currentUser.user.schoolid}"/>

                        <button type="submit" class="btn btn-primary btn-block btn-flat">UPDATE SCHOOL PROFILE
                        </button>
                    </form>

                </div>
                <div class="box-footer">

                </div>
            </div>

            <div th:id="${bindingadderrors != null}? emailadderror : emailadd" class="modal fade"
                 role="dialog">
                <div class="modal-dialog">

                    <!-- Modal content-->
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h4 class="modal-title">Add Email</h4>
                        </div>
                        <div class="modal-body">
                            <div th:object="${emailAddForm}" th:remove="tag">
                                <div th:if="${#fields.hasErrors('*')}">
                                    <div class="callout callout-danger">
                                        <p align="center"><i class="fa fa-times-circle-o"></i>please confirm
                                            input.
                                        </p>

                                        <div th:if="${#fields.hasGlobalErrors()}" class="center info-warning">
                                            <p th:each="err : ${#fields.globalErrors()}" th:text="${err}">
                                                class level add errors</p>
                                        </div>
                                    </div>
                                </div>
                                <form action="#" th:action="@{/emailadd}" method="post">
                                    <div class="form-group has-feedback">
                                        <label th:if="${#fields.hasErrors('email')}"
                                               th:errors="*{email}" class="control-label has-warning">input
                                            has
                                            error</label>
                                        <input type="text" class="form-control" th:field="*{email}"
                                               th:errorclass="has-warning" placeholder="Email Address"/>
                                        <span class="glyphicon glyphicon-home form-control-feedback"></span>
                                    </div>
                                    <input type="hidden" name="schoolid" value="1234565161" th:name="'schoolid'"
                                           th:value="${currentUser.user.schoolid}"/>

                                    <button type="submit" class="btn btn-primary btn-block btn-flat">Add Email
                                    </button>
                                </form>

                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>

            <div th:id="${bindingadderrors != null}? phonenumberadderror : phoneadd" class="modal fade"
                 role="dialog">
                <div class="modal-dialog">

                    <!-- Modal content-->
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h4 class="modal-title">Add Phone Number</h4>
                        </div>
                        <div class="modal-body">
                            <div th:object="${phoneNumberAddForm}" th:remove="tag">
                                <div th:if="${#fields.hasErrors('*')}">
                                    <div class="callout callout-danger">
                                        <p align="center"><i class="fa fa-times-circle-o"></i>please confirm
                                            input.
                                        </p>

                                        <div th:if="${#fields.hasGlobalErrors()}" class="center info-warning">
                                            <p th:each="err : ${#fields.globalErrors()}" th:text="${err}">
                                                class level add errors</p>
                                        </div>
                                    </div>
                                </div>
                                <form action="#" th:action="@{/phonenumberadd}" method="post">
                                    <div class="form-group has-feedback">
                                        <label th:if="${#fields.hasErrors('phonenumber')}"
                                               th:errors="*{phonenumber}" class="control-label has-warning">input
                                            has
                                            error</label>
                                        <input type="text" class="form-control" th:field="*{phonenumber}"
                                               th:errorclass="has-warning" placeholder="Phone Number"/>
                                        <span class="glyphicon glyphicon-home form-control-feedback"></span>
                                    </div>
                                    <input type="hidden" name="schoolid" value="1234565161" th:name="'schoolid'"
                                           th:value="${currentUser.user.schoolid}"/>

                                    <button type="submit" class="btn btn-primary btn-block btn-flat">Add Phone Number
                                    </button>
                                </form>

                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>

            <div th:id="${bindingadderrors != null}? typeadderror : typeadd" class="modal fade"
                 role="dialog">
                <div class="modal-dialog">

                    <!-- Modal content-->
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h4 class="modal-title">Set School Category</h4>
                        </div>
                        <div class="modal-body">
                            <div th:object="${schoolTypeAddForm}" th:remove="tag">
                                <div th:if="${#fields.hasErrors('*')}">
                                    <div class="callout callout-danger">
                                        <p align="center"><i class="fa fa-times-circle-o"></i>please confirm
                                            input.
                                        </p>

                                        <div th:if="${#fields.hasGlobalErrors()}" class="center info-warning">
                                            <p th:each="err : ${#fields.globalErrors()}" th:text="${err}">
                                                class level add errors</p>
                                        </div>
                                    </div>
                                </div>
                                <form action="#" th:action="@{/schooltypeadd}" method="post">
                                    <div class="form-group has-feedback">
                                        <label th:if="${#fields.hasErrors('schooltypeid')}"
                                               th:errors="*{schooltypeid}" class="control-label has-warning">input
                                            has
                                            error</label>
                                        <select class="form-control" th:field="*{schooltypeid}" th:errorclass="inputWarning">
                                            <option th:each="schoolType : ${schoolTypes}" th:value="${schoolType.schooltypeid}" th:text="${schoolType.schoolTypeName}"></option>
                                        </select>
                                        <span class="glyphicon glyphicon-home form-control-feedback"></span>
                                    </div>
                                    <input type="hidden" name="schoolid" value="1234565161" th:name="'schoolid'"
                                           th:value="${currentUser.user.schoolid}"/>

                                    <button type="submit" class="btn btn-primary btn-block btn-flat">Add School Category
                                    </button>
                                </form>

                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>

        </section>
        <!-- /.content -->


    </div>
    <!-- /.content-wrapper -->

    <!-- Main Footer -->
    <footer th:replace="starter :: main-footer"></footer>

    <!-- Control Sidebar -->
    <aside th:replace="starter :: control-sidebar"></aside>

    <!-- Add the sidebar's background. This div must be placed
    immediately after the control sidebar -->
    <div class="control-sidebar-bg"></div>
</div>
<!-- ./wrapper -->


<!-- REQUIRED JS SCRIPTS -->

<!-- jQuery 2.1.4 -->
<script src="../static/dist/jQuery/jQuery-2.1.4.min.js" th:src="@{dist/jQuery/jQuery-2.1.4.min.js}"></script>
<!-- Bootstrap 3.3.5 -->
<script src="../static/bootstrap/js/bootstrap.min.js" th:src="@{bootstrap/js/bootstrap.min.js}"></script>
<!-- AdminLTE App -->
<script src="../static/dist/js/app.min.js" th:src="@{dist/js/app.min.js}"></script>

<!-- Slimscroll -->
<script src="../static/dist/bower_components/jquery-slimscroll/jquery.slimscroll.min.js" th:src="@{dist/bower_components/jquery-slimscroll/jquery.slimscroll.min.js}"></script>
<!-- FastClick -->
<script src="../static/dist/bower_components/fastclick/lib/fastclick.js" th:src="@{dist/bower_components/fastclick/lib/fastclick.js}"></script>
<!-- page script -->

<script th:inline="javascript">
      /*<![CDATA[*/
      $(function () {
        $('.sidebar-menu li').click(function() {
           $(this).siblings('li').removeClass('active');
           $(this).addClass('active');
        });
      });

       $('.sidebar-menu').slimScroll({
      color: '#417586',
	  height: '450px'
     });

	$(function() {
	FastClick.attach(document.body);
    });
      /*]]>*/











</script>

</body>
</html>