<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="starter :: head"></head>

<body class="hold-transition skin-blue sidebar-mini">
<div class="wrapper">

    <!-- Main Header -->
    <header th:replace="starter :: header"></header>

    <!-- Left side column. contains the logo and sidebar -->
    <aside th:replace="starter :: main-sidebar"></aside>

    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <h1>

                Settings: Academic Periods
            </h1>
            <ol class="breadcrumb">
                <li><a href="school.html" th:href="@{/school}"><i class="fa fa-institution"></i> <span
                        th:text="${currentUser.user.school.name}">School Account Page</span></a></li>
                <li class="active">academic periods</li>
            </ol>
        </section>

        <!-- Main content -->
        <section class="content">

            <div th:if="${success != null}" class="alert alert-success alert-dismissable">
                <p><span th:text="${success}">Success</span></p>
            </div>

            <div th:if="${periodCount} == 0">
                <div class="box box-default">
                    <div class="box-header with-border">
                        <h3 class="box-title">Welcome to ShuleDial</h3>
                    </div>
                    <div class="box-body">
                        <p><strong>The school has no Academic Periods added yet.</strong></p>

                        <p>Academic periods represent the different learning terms or semesters according to your
                            schools academic calendar</p>

                        <p>For example first term, second term, first semester, holiday tuition and such</p>

                        <p>To add academic periods, click on "Add Academic Period" button below. Fill out the creation form.</p>

                        <p>You will be able to view and edit the periods that have been created for your school after
                            adding them.</p>

                    </div>
                    <div class="box-footer clearfix">
                        <button type="button" class="btn btn-sm btn-default btn-flat pull-left" data-toggle="modal"
                                data-target="#schoolperiodadd">Add New Academic Period
                        </button>
                    </div>
                </div>
            </div>
            <!--div if no student-->

            <div th:if="${periodCount} > 0">
                <div class="row">
                    <div class="col-lg-8">
                        <div class="box box-default">
                            <div class="box-header with-border">
                                <h3 class="box-title">Academic Periods</h3>
                            </div>
                        </div>
                        <div class="box-body">
                            <table id="schooPeriodTable" class="table table-striped">
                                <thead>
                                <tr>
                                    <th>Academic Period</th>
                                    <th>Start Date</th>
                                    <th>End Date</th>
                                    <th></th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr th:each="schoolPeriod: ${schoolPeriods}">
                                    <td th:text="${schoolPeriod.schoolPeriodName}">Academic Period Name</td>
                                    <td th:text="${schoolPeriod.startDate}">Start Time</td>
                                    <td th:text="${schoolPeriod.endDate}">End Time</td>
                                    <td>
                                        <a class="btn btn-primary pull-right"><i class="fa fa-edit"></i>Edit</a>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="box-footer clearfix">
                            <button type="button" class="btn btn-sm btn-default btn-flat pull-left" data-toggle="modal"
                                    data-target="#schoolperiodadd">Add New Academic Period
                            </button>
                        </div>
                    </div>


                    <div class="col-lg-4">
                        <div class="box box-default">
                            <div class="box-header with-border">
                                <h3 class="box-title">Manage Academic Periods</h3>
                            </div>
                            <div class="box-body">
                                <p>How to Manage Academic Periods</p>
                                <ul>
                                    <li></li>
                                    <li></li>
                                    <li></li>
                                    <li></li>
                                    <li></li>
                                    <li></li>

                                </ul>
                            </div>
                            <div class="box-footer">

                            </div>
                        </div>
                    </div>
                </div>
            </div>


            <div th:id="${bindingadderrors != null}? schoolperiodtcreateerror : schoolperiodadd" class="modal fade"
                 role="dialog">
                <div class="modal-dialog">

                    <!-- Modal content-->
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h4 class="modal-title">Add New Academic Period</h4>
                        </div>
                        <div class="modal-body">
                            <div th:object="${schoolPeriodForm}" th:remove="tag">
                                <div th:if="${#fields.hasErrors('*')}">
                                    <div class="callout callout-danger">
                                        <p align="center"><i class="fa fa-times-circle-o"></i>please confirm
                                            input.
                                        </p>

                                        <div th:if="${#fields.hasGlobalErrors()}" class="center info-warning">
                                            <p th:each="err : ${#fields.globalErrors()}" th:text="${err}">
                                                academic period add errors</p>
                                        </div>
                                    </div>
                                </div>
                                <form action="#" th:action="@{/addschoolperiod}" method="post">
                                    <div class="form-group has-feedback">
                                        <label th:if="${#fields.hasErrors('schoolPeriodName')}"
                                               th:errors="*{schoolPeriodName}" class="control-label has-warning">input
                                            has
                                            error</label>
                                        <input type="text" class="form-control" th:field="*{schoolPeriodName}"
                                               th:errorclass="has-warning" placeholder="Academic Period Name"/>
                                        <span class="glyphicon glyphicon-home form-control-feedback"></span>
                                    </div>
                                    <div class="form-group has-feedback">
                                        <label>Start Date</label>
                                        <label th:if="${#fields.hasErrors('startDate')}"
                                               th:errors="*{startDate}" class="control-label has-warning">input has
                                            error</label>

                                        <div class="input-group">
                                            <div class="input-group-addon">
                                                <i class="fa fa-calendar"></i>
                                            </div>
                                            <input id="datemask" class="form-control" type="text"
                                                   th:field="*{startDate}" th:errorclass="has-warning"
                                                   data-inputmask="'alias': 'dd/mm/yyyy'"/>
                                        </div>
                                    </div>
                                    <div class="form-group has-feedback">
                                        <label>End Date</label>
                                        <label th:if="${#fields.hasErrors('endDate')}"
                                               th:errors="*{endDate}" class="control-label has-warning">input has
                                            error</label>

                                        <div class="input-group">
                                            <div class="input-group-addon">
                                                <i class="fa fa-calendar"></i>
                                            </div>
                                            <input id="datemask1" class="form-control" type="text"
                                                   th:field="*{endDate}" th:errorclass="has-warning"
                                                   data-inputmask="'alias': 'dd/mm/yyyy'"/>
                                        </div>
                                    </div>
                                    <input type="hidden" name="schoolid" value="1234565161" th:name="'schoolid'"
                                           th:value="${currentUser.user.schoolid}"/>

                                    <button type="submit" class="btn btn-primary btn-block btn-flat">Add Academic Period
                                    </button>
                                </form>

                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>

        </section>
        <!-- /.content -->
    </div>
    <!-- /.content-wrapper -->

    <!-- Main Footer -->
    <footer th:replace="starter :: main-footer"></footer>

    <!-- Control Sidebar -->
    <aside th:replace="starter :: control-sidebar"></aside>

    <!-- Add the sidebar's background. This div must be placed
  immediately after the control sidebar -->
    <div class="control-sidebar-bg"></div>
</div>
<!-- ./wrapper -->


<!-- REQUIRED JS SCRIPTS -->

<!-- jQuery 2.1.4 -->
<script src="../static/dist/jQuery/jQuery-2.1.4.min.js" th:src="@{dist/jQuery/jQuery-2.1.4.min.js}"></script>
<!-- Bootstrap 3.3.5 -->
<script src="../static/bootstrap/js/bootstrap.min.js" th:src="@{bootstrap/js/bootstrap.min.js}"></script>
<!-- AdminLTE App -->
<script src="../static/dist/js/app.min.js" th:src="@{dist/js/app.min.js}"></script>
<!-- InputMask -->
<script src="../static/dist/input-mask/jquery.inputmask.js" th:src="@{dist/input-mask/jquery.inputmask.js}"></script>
<script src="../static/dist/input-mask/jquery.inputmask.date.extensions.js"
        th:src="@{dist/input-mask/jquery.inputmask.date.extensions.js}"></script>
<script src="../static/dist/input-mask/jquery.inputmask.extensions.js"
        th:src="@{dist/input-mask/jquery.inputmask.extensions.js}"></script>
<!-- DataTables -->
<script src="../static/dist/datatables/jquery.dataTables.min.js"
        th:src="@{dist/datatables/jquery.dataTables.min.js}"></script>
<script src="../static/dist/datatables/dataTables.bootstrap.min.js"
        th:src="@{datatables/dataTables.bootstrap.min.js}"></script>

<!-- Slimscroll -->
<script src="../static/dist/bower_components/jquery-slimscroll/jquery.slimscroll.min.js" th:src="@{dist/bower_components/jquery-slimscroll/jquery.slimscroll.min.js}"></script>
<!-- FastClick -->
<script src="../static/dist/bower_components/fastclick/lib/fastclick.js" th:src="@{dist/bower_components/fastclick/lib/fastclick.js}"></script>
<!-- page script -->

<script th:inline="javascript">
      /*<![CDATA[*/
       $(document).ready(function () {
        $('.sidebar-menu li').click(function() {
           $(this).siblings('li').removeClass('active');
           $(this).addClass('active');
        });
      });

       $('.sidebar-menu').slimScroll({
      color: '#417586',
	  height: '450px'
     });

	$(function() {
	FastClick.attach(document.body);
    });
      /*]]>*/




</script>
<script th:inline="javascript">
/*<![CDATA[*/
       $(window).load(function(){
        $('#schoolperiodcreateerror').modal('show');
        });
/*]]>*/



</script>
<script th:inline="javascript">
/*<![CDATA[*/
        $(function () {
        $('#schoolPeriodTable').DataTable({
          "paging": true,
          "lengthChange": false,
          "searching": true,
          "ordering": false,
          "info": false,
          "autoWidth": true
        });
      });
/*]]>*/
</script>
<script>
/*<![CDATA[*/
$(function () {
$("#datemask").inputmask("dd/mm/yyyy", {"placeholder": "dd/mm/yyyy"});
$("#datemask1").inputmask("dd/mm/yyyy", {"placeholder": "dd/mm/yyyy"});
});
/*]]>*/
</script>

</body>
</html>